// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                        CSS VARIABLES                           //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

//COLOR VARIABLES
$dark: #1E1E1E;
$salmon: #E28981;
$lightgrey: #EEEEEE;

//FONT VARIABLES
$title: 'linotype-didot';
$sanserif: 'futura-pt';
$serif: 'linotype-sabon';
$w1: 300;
$w2: 400;
$w3: 600;

$f1: 1rem;
$f2: 1.15rem;
$f3: 1.5rem;
$f4: 2.5rem;
$f5: 3rem;
$f6: 4rem;
$f7: 5rem;

//SPACERS
$sp1: .25rem;
$sp2: .5rem;
$sp3: 1rem;
$sp4: 1.5rem;
$sp5: 3rem;
$sp6: 4rem;
$sp7: 5rem;


// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            IMPORTS                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

//BOOTSTRAP COLOR OVERRIDES/ADDITIONS
$theme-colors: (
  "dark": $dark,
  "salmon": $salmon,
  "lightgrey": $lightgrey
);

.btn-salmon {
  color: $lightgrey !important;
}

@import 'bootstrap/scss/bootstrap.scss';



// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            GENERAL                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
body {
  font-family: $sanserif;
  font-weight: $w2;
  font-size: $f2;
  background: $dark;
}

.overflow {
  overflow-x:hidden;
}

h4 {
  font-family: $sanserif;
  font-weight: $w1;
}

hr {
  background-color: $lightgrey;
  color: $lightgrey;
}

.unstyle-link, .unstyle-link:link, .unstyle-link:hover {
  color: inherit;
  text-decoration: inherit;
}


// // // // // // // // // // // // // // // // // // // // // // //
// // // // // // // // // // // // // // // // // // // // // // //

.header {

  .titleGroup {
    position: absolute;
    margin-left: 50px;
    top: 70px;

    @include media-breakpoint-only(md) {
      margin-left: 8vw !important; 
    }

    @include media-breakpoint-up(lg) {
      margin-left: 8vw !important; 
    }

    

    .sub {
      margin-left: 107px;
    }

    h1 {
      color: $lightgrey;
      font-family: $title;
      font-weight: $w1;
      margin-bottom: 0;
      line-height: 4.5rem;
      font-size: $f7;
    }
  }

  img {
    max-width: 900px;
    margin-left: -200px;

    @include media-breakpoint-up(sm) {
      margin-left: 0 !important; 
    }    
  }
}

.nav {
  background: $lightgrey;
  padding: $sp3;
  text-transform: uppercase;
}

.buythebook {

  &:hover {
    background: rgba($salmon, .1);
    border-radius: .25rem;
    transition: background 0.2s, filter 0.2s;

    .unstyle-link {
      filter: brightness(.85);
      transition: background 0.2s, filter 0.2s;
    }
  }
}

.main {
  width: 100%;

  .quote {
    text-align: center;
    margin: $sp6 auto;
    color: $lightgrey;
    font-family: $serif;
    

    .content {
      text-align: justify;
      background: rgba($lightgrey, .05);
      margin-bottom: 0;
      padding: $sp4;
    }

    .name {
      text-align: right;
      font-family: $title;
      margin-bottom: 0;
      background: rgba($lightgrey, .05);
      padding: $sp3 $sp4;

    }
  }

  .header {
    text-align: center;
    margin: $sp5 auto $sp4 auto;
    color: $lightgrey;
    font-family: $serif;
  }

  .bio {
    color: $lightgrey;
    margin-top: $sp3;

    .name {
      text-transform: uppercase;
      border-bottom: 1px solid $salmon;
      display: inline-block;
      margin-bottom: $sp2;
    }

    .content {
      text-align: justify;
    }
  }

  .duo {

    img {
      width: 100%;
      margin: $sp6 0 $sp3 0;
    }

  }
}

.footer {
  background: $dark;
  color: $lightgrey;
  padding: $sp3;
  

  .footernav {
    margin: $sp3 0;
    text-transform: uppercase;
  }

  .copyright {
    text-align: center;
    font-weight: $w1;
    font-size: $f1;
    font-family: $sanserif;
  }
}

